// Typography
$font-family-main: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-family-headings: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-size: 1.25em;

// Padding
$padding-large: 10%;
$padding-small: 3%;
$padding-x-small: 1%;

// Brand colours
$brand-color: #E4412F;
$background-color: #fff;
$border-color: rgba(0, 0, 0, 0.1); // rgba recommended if using feature images

// Typography colours
$text-color: #383838;
$link-color: $brand-color;

// Header colours
$header-link-color: #383838;

// Feature image for articles
$feature-image-text-color: #fff;
$feature-image-size: cover; // options include "cover", "contain", "auto"

// Header description box
$header-desc-background-color: $brand-color;
$header-desc-text-color: #FFF;
